@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: #f3f4f6;
}

.registration-form {
  background-color: #ffffff;
}
